.container {
    margin: 0 auto;
    max-width: 1200px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: linear-gradient(-180deg,#f53d2d,#f63);
    transition: transform .2s cubic-bezier(.4,0,.2,1);
}

#header__nav-wrapper {
    min-width: inherit;
    height: 2.125rem;
}

#header__nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 24px;
}

.header__nav-items {
    display: flex;
    align-items: center;
}

.header__nav-items-name{
    position: relative;
    padding: 4px;
    font-weight: 300;
    font-size: 14px;  
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__nav-items-name:hover .header__download-list{
    display: flex;
}

.header__download-list {
    position: absolute;
    background-color: #fff;
    top: calc(100% + 4px);
    left: 0;
    z-index: 1;
    transition-delay: 1s;
    border-radius: 2px;
    display: none;
    flex-direction: column;
    width: 185px;
}

.header__download-qr {
    height: 185px;
}

.header__download-app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 12px;
}

.header__download-app img {
    margin-right: 5px;
    margin-bottom: 5px;
}

.header__notify {
    position: relative;
}

.header__notify:hover .header__notify-content {
    display: block;
}

.header__notify-content {
   position: absolute;
   background-color: #fff;
   display: none;
   top: calc(100% + 4px);
   right: 0;
   z-index: 1;
   width: 404px;
   box-shadow: 0 0 1px rgba(0,0,0,.02);
   border: 1px solid rgba(0,0,0,.09);
   transform-origin: calc(100% - 20px) top;
   animation: .25s headerNotifyGrowth;
   /* will-change tối ưu chuyển động cho animation của web */
   will-change: opacity, transform;
}

.header__notify-content::before {
    content: "";
    position: absolute;
    top: -30px;
    border-width: 20px 26px;
    border-style: solid;
    right: 12px;
    border-color: transparent transparent #fff transparent;
}

.header__notify-content::after {
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    right: 0;
    width: 90px;
    height: 12px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.header__notify-body {
    position: relative;
    height: 300px;
    text-align: center;
    color: #555;
}

.notify-footer {
    display: flex;
}

.notify-footer a{
    text-align: center;
    display: block;
    width: 50%;
    background-color: #f5f5f5;
    color: #555;
    text-decoration: none;
    padding: 8px 16px;
}

.notify-footer a:hover{
    color: var(--primary-color);
    background-color: #eeee;
}

.header__language {
    position: relative;
}

.header__language:hover .header__language-list {
    display: block;
}

.header__language-list {
    display: none;
    position: absolute;
    background-color: #fff;
    top: calc(100% + 4px);
    right: 0;
    z-index: 1;
    box-shadow: 0 0 1px rgba(0,0,0,.02);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 2px;
    transform-origin: calc(100% - 30px) top;
    animation: .25s headerLanguageListGrowth;
}

.header__language-list::before {
    content: "";
    position: absolute;
    top: -30px;
    border-width: 20px 26px;
    border-style: solid;
    right: 30px;
    border-color: transparent transparent #fff transparent;
}

@keyframes headerLanguageListGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__language-list::after{
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    right: 0;
    width: 90px;
    height: 12px;
}

.header__language-items {
    display: block;
    padding: 8px 16px;
    width: 200px;
    color: #555;
    text-decoration: none;
}

.header__language-items:hover {
    color: var(--primary-color);
}

.header__nav-icons,
.header__nav-items-name {
    margin: 0 4px;
}

.header__nav-social {
    display: flex;
    margin-left: 4px;
}

.header__nav-items-name:hover {
    color: hsla(0,0%,100%,.7)
}

#header__nav-separator {
    border-right: 1px solid hsla(0,0%,100%,.4);
    height: .8125rem;
}

.header__nav-icons {
    font-size: 14px;
}

.header__search-list {
    display: flex;
    height: 5.3125rem;
    padding: 16px 0 10px 0;
    align-items: center;
}

.header__search-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 840px;
    position: relative;
} 

.header__search-logo {
    padding-right: 40px;
    position: relative;
    top: -10px;
}

.header__search-logo svg{
    width: 162px;
    height: 50px;
    fill: #fff;
}

.header__search-bar {
    width: 100%;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.09);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 2.5rem;
    padding: 3px;
    border-radius: 2px;
    background-color: #fff;
}

.header__search-main {
    display: flex;
    flex: 1;
    padding: 0 10px;
}

.header__search-input {
    display: flex;
    flex: 1;
    font: inherit;
    align-items: center;
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
    line-height: normal;
}

.header__search-button {
    height: 34px;
    padding: 0px 15px;
    min-width: 60px;
    max-width: 190px;
    color: #fff;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 2px;
    align-items: center;
    background-color: var(--primary-color);
}

.header__search-button:hover {
    background: #fb6445
}

.header__search-hot {
    display: flex;
    margin-top: 3px;
    flex: 1;
    overflow: hidden;
}

.header__search-hot a:first-child {
    margin-left: 0;
}
.header__search-hot a {
    margin: 5px 0 0 13px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
}

.header__search-cart {
    display: block;
    text-align: center;
    flex: 1;
    position: relative;
    top: -5px;
}

.header__search-cart a {
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    position: relative;
}

.header__search-cart:hover .header__cart-content {
    display: block;
}

.header__cart-content {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    right: -12px;
    background-color: #fff;
    width: 404px;
    border-radius: 2px;
    box-shadow: 0 0 1px rgba(0,0,0,.02);
    border: 1px solid rgba(0,0,0,.09);
    transform-origin: calc(100% - 20px) top;
    animation: .25s headerCartGrowth;
    will-change: opacity, transform;
}

@keyframes headerCartGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__cart-content::before {
    content: "";
    position: absolute;
    top: -30px;
    right: 0;
    border-style: solid;
    border-width: 18px 22px;
    border-color: transparent transparent #fff transparent;
}

.header__cart-content::after{
    content: "";
    display: block;
    position: absolute;
    top: -12px;
    right: 0;
    width: 40px;
    height: 12px;
} 


.header__cart-body {
    position: relative;
    text-align: center;
    font-size: 15px;
    color: #555;
    height: 240px;
}

/* content */
.content {
    margin-top: 119px;  
}

.banner__wrapper {
    padding-top: 30px;
    background-color: #fff;
}

.banner__list {
    display: flex;
    min-height: 235px;
    max-height: 235px;
}

.banner__items {
    border-radius: .125rem;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    overflow: hidden;
    flex-basis: 0;
    flex-shrink: 1;   
    line-height: 0;    
}

.banner__items img {
    position: absolute;
    object-position: bottom;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.banner__items:first-child {
    flex-grow: 2;
}

.banner__items:nth-child(2) {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.banner__links {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.banner__items-half {
    flex: 1 1 50%;
}

.banner__items-half:nth-child(2) {
    margin-top: 5px;
}

.banner__menu {
    margin-top: 10px;
    display: flex;
    min-height: 108px;
    justify-content: space-around;
}

.banner__menu a {
    width: 100px;
    text-decoration: none;
}

.banner__menu a:hover {
    transform: translateY(-1px);
}

.banner__wrapper-img {
    margin: 18px auto 8px;
    width: 45px;
    height: 45px;
}

.banner__wrapper-paragraph {
    text-align: center;
    line-height: .875rem;
    max-width: 150px;
    font-size: .8125rem;
    color: #222222;
}

.category__section {
    margin-top: 20px;
    min-height: 363px;
    background-color: #fff;
    position: relative;
}

.category__title {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;  
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.category__title h3 {
    color: rgba(0,0,0,.54);
    font-weight: 500;
}

.category__list {
    display: flex;
    flex-wrap: wrap;
}

.category__items {
    width: 120px;
    height: 151px;
    border-right: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    display: block;
    text-decoration: none;
}

.category__items:hover {
    border-color: rgba(0,0,0,.12);
    border-width: 1px;
    box-shadow: 0 0 0.8125rem 0 rgba(0,0,0,.0);
}

.category__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.category__wrap-img {
    margin-top: 10%;
    width: 70%;
}

.category__name-img {
    height: 50px;
    font-size: .875rem;
    margin-bottom: 10px;
    line-height: 1.25rem;
    color: rgba(0,0,0,.8);
    text-align: center;
}

.homepage {
    padding-bottom: 70px;
}

.flash-sale__section {
    margin-top: 20px;
    background-color: #fff;
    position: relative;
}

.flash-sale__title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}

.flash-sale__title-img {
    display: flex;
    background: url(/assets/img/flash-sale-title-img.png) 50% no-repeat;
    background-size: contain;
    height: 30px;
    width: 130px;
    line-height: 30px;
}

.flash-sale__link {
    display: flex;
    color: var(--primary-color);
    text-decoration: none;
    align-items: center;
}

.flash-sale__link i {
    margin-left: 4px;
}

.move-items {
    position: absolute;
    top: 50%;
    z-index: 2;
    background: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,.12);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .1s cubic-bezier(.4,0,.6,1);
}

.move-items.move-left {
    left: 0;
    transform: translateX(-50%);
    display: none;
}

.move-items.move-right {
    right: 0;
    transform: translateX(50%);
}

.move-items:hover {
    width: 50px;
    height: 50px;
}

.move-items:hover i{
    font-size: 20px;
}


.flash-sale__list {
    display: flex;
    list-style: none;
}

.flash-sale__items {
    padding: 0px;
    width: 16.6667%;
    height: 248px;
}

.flash-sale__items a{
    position: relative;
    padding: 0 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-decoration: none;
}

.product__wrapper-img{
    position: relative;
    height: 186px;
}

.product-sale__tag {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.product-sale__percent {
    position: relative;
    color: var(--primary-color);
    background-color: yellow;
    padding-right: 4.5px;
    padding-left: 8.5px;
    display: flex;
}

.flash-sale-icon {
    position: relative;
    left: 8px;
    z-index: 2;
    color: var(--primary-color);
}

.product-sale__mall {
    position: relative;
    height: 1rem;
    font-size: .75rem;
    line-height: .875rem;
    padding-left: .25rem;
    padding-right: .25rem;
    border-top-right-radius: .125rem;
    border-bottom-right-radius: .125rem;
    color: #fff;
    background-color: rgb(208, 1, 27);
    display: flex;
    align-items: center;
}

.product-sale__mall::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -.1875rem;
    border-top: .1875rem solid;
    border-left: .1875rem solid transparent;
    filter: brightness(60%);
    color: rgb(208, 1, 27);
}

.product-sale__mall img {
    height: .5rem;
    width: 1.25rem;
}

.flash-sale__wrapper-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.flash-sale__price {
    color: var(--primary-color);
    font-size: 1.125rem;
    font-weight: 500;
    height: 27px;
}

.flash-sale__status {
    padding: 0 10px;
    position: relative;
    height: 16px;
    width: 100%;
}

.flash-sale__status-name {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    height: inherit;
    width: inherit;
    color: #fff;
    font-size: .625rem;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 3;
    text-shadow: 0 0 8px rgba(0,0,0,.12);
}

.flash-sale__status-now {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 5%;
    border-radius: 8px 0px 0px 8px;
    background: url(/assets/img/flash-sale-status-now.png) 0 100% no-repeat;
    background-size: cover;
    z-index: 2;
}

.flash-sale__status-full {
    background: #ffbda6;
    position: absolute;
    z-index: 1;
    border-radius: 8px;
    top: 0;
    left: 0;
    height: inherit;
    width: 100%;
}

.offer__list {
    margin-top: 20px;
    display: flex;
    list-style-type: none;
}

.shopee-mail__section {
    margin-top: 20px;
    background-color: #fff;
    position: relative;
}

.shopee-mail__content-left a{
    display: block;
}

.shopee-mail__header {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid rgba(0,0,0,.05);
    justify-content: space-between;
}

.shopee-mail__title {
    display: flex;
    height: 20px;
}

.shopee-mail__title a {
    display: block;
    color: #d0011b;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    border-right: 1px solid #d8d8d8;
    padding-right: 15px;
    text-decoration: none;
}

.shopee-mail__sup-title {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 16px;
}

.shopee-mail__sup-title img {
    margin-right: 6px;
}

.shopee-mail__link {
    display: flex;
    align-items: center;
    padding: 7px 5px;
}

.shopee-mail__link a{
    text-decoration: none;
    color: #d0011b;
    height: 20px;
    display: block;
    font-size: 14px;
}

.shopee-mail__link i {
    margin-left: 8px;
}

.shopee-mail__content-left {
    width: 390px;
    height: 452px;
    display: inline-block;
    padding: 10px 0 10px 10px;
    background-color: #fff;
    vertical-align: top;
}

.shopee-mail__content-right {
    width: 800px;
    display: inline-block;
}

.shopee-maill__product-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
}

.shopee-maill__product-items {
    padding: 10px;
    height: 236px;
    width: 200px;
}

.shopee-maill__product-items a{
    display: block;
    text-decoration: none;
    position: relative;
}

.shopee-mail__product-bg {
    padding-top: 120%;
    width: 100%;
    background-position: 50%;
}

.shopee-mail__product-desc {
    position: absolute;
    left: 14px;
    bottom: 12px;
    width: 172px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 18px;
    color: #d0011b;
}

.top-search__section {
    margin-top: 20px;
    background-color: #fff;
    position: relative;
}

.top-search__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.05);
}

.top-search__title {
    font-size: 16px;
    color: var(--primary-color);
}

.top-search__link a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 14px;
    display: block;
    padding: 7px 5px;
}

.top-search__list {
    display: flex;
    list-style-type: none;
}

.top-search__items {
    width: 16.67%;
    display: block;
    height: 290px;
}

.top-search__items a {
    position: relative;
    text-decoration: none;
    display: block;
    padding: 20px 10px;

}

.top-search__wrappper-img {
    position: relative;
}

.top-tag__img {
    position: absolute;
    z-index: 1;
    width: 32px;
    height: 40px;
}

.top-search__sell-info {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 25px;
    width: 100%;
    background-color: rgba(0,0,0,.26);
    color: #fff;
    text-align: center;
}

.top-search__items-name {
    margin-top: 20px;
    color: #555;
    text-align: left;
    text-transform: capitalize;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
}

.product-suggestion__section {
    margin-top: 20px;
    position: relative;
}

.product-suggestion__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 46px;
    border-bottom: 4px solid var(--primary-color);
    background-color: #fff;
}

.product-suggestion__title a {
    text-decoration: none;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    display: block;
    color: var(--primary-color);
}

.product__suggestion__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    margin-top: 5px;    
}

.product__suggestion__items {
    border-color: rgba(0,0,0,.0902);
    border-width: .5px;
    border-style: solid;
    margin: 5px;
}

.product__suggestion__items:hover {
    border-color: var(--primary-color);
    transform: translateY(-1px);
}

.product__suggestion__items a{
    text-decoration: none;
}

.product__wrapper-desc {
    padding: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 186px;
    height: 104px;
    background-color: #fff;
}

.product__name {
    height: 40px;
    line-height: 1.25rem;
    font-size: 14px;
    color: #000;
    overflow-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 8px;
}

.product__status {
    margin-bottom: 8px;
}

.product__status-name {
    display: inline-block;
    font-size: .625rem;
    font-weight: 500;
    padding: 0 4px;
    color: rgb(239 81 51);
    border: 1px solid rgb(255 150 129);
}

.product__wrapper-price {
    display: flex;
    height: 20px;
    justify-content: space-between;
}

.product__price {
    font-size: 1rem;
    line-height: 1;
    color: var(--primary-color);
}

.product__quantity {
    color: rgba(0,0,0,.54118);
    font-size: .75rem;
    line-height: 1rem;
}

.watch-more-section {
    text-align: center;
    margin-top: 20px;
}

.watch-more-btn {
    display: inline-block;
    min-width: 348px;
    line-height: 40px;
    outline: none;
    border: 1px solid rgba(0,0,0,.09);
    padding: 0 20px;
    color: #555;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.03);
    text-decoration: none;
}

.watch-more-btn:hover {
    background: rgba(0,0,0,.02);
}

.footer {
    border-top: 4px solid var(--primary-color);
}

.footer__desc {
    font-family: Roboto,sans-serif;
    max-width: 1200px;
    margin: 60px auto 0 auto;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0,0,0,.09);
}

.footer__desc h1 {
    margin: 0;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 700;
}

.footer__desc p {
    font-size: 12px;
    color: #000;
    line-height: 1.4;
    margin-top: 10px;
}

.footer__desc h2 {
    margin: 0;
    line-height: 1.7;
    font-size: 12px;
    font-weight: 700;
}

.footer__desc a {
    color: #000;
}

.footer__desc ul {
    padding-left: 40px;
    margin: 14px 0;
    font-size: 12px;
    color: #000;
    line-height: 1.4;
}

.footer__desc li {
    margin-bottom: 10px;
}

#divi-line {
    font-size: 12px;
    margin: 0 4px;
}

.footer__socials-section {
    max-width: 1200px;
    margin: 0 auto;
}   

.footer__social-list {
    display: flex;
    padding: 5px;
}

.footer__social-items {
    width: 240px;
    padding: 5px;
}

.footer__social-title {
    margin: 40px 0 20px 0;
    font-size: .75rem;
    font-weight: 700;
    color: rgba(0,0,0,.87);
}

.footer__card-list,
.footer__sup-list {
    list-style: none;
}

.footer__sup-items {
    font-size: .75rem;
    margin-bottom: 12px;
    
}

.footer__card-items a,
.footer__sup-items a {
    text-decoration: none;
    color: rgba(0,0,0,.65);
    display: flex;
    align-items: center;
}

.footer__card-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 16px;
}

.footer__card-items {
    height: 30px;
    width: 60px;
    padding: 4px;
    margin: 0 8px 8px 0;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.footer__social-icons {
    margin-right: 8px;
}

.footer__download {
    display: flex;
}

.footer__download a{
    text-decoration: none;
}

.footer__download-qr img {
    height: 88px;
    width: 88px;
    margin-right: .75rem;
    padding: .25rem;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-radius: 2px
}

.footer__download-app {
    vertical-align: top;
    display: inline-block;
}

.footer__download-app a {
    width: 76px;
    height: 24px;
    margin-bottom: .5rem;
    padding: .25rem;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.license__list {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0,0,0,.1);
    padding: 40px 0;
    max-width: 1200px;
    color: rgba(0,0,0,.54);
    margin: 0 auto;
    font-size: 14px;
}

.license-country a {
    color: rgba(0,0,0,.54);
    text-decoration: none;
}

.bottom__content {
    padding: 42px 0;
    background-color: #f5f5f5;
    font-size: .75rem;
    color: rgba(0,0,0,.65);
    text-align: center;
}

.company__title {
    margin-bottom: 40px;
}

.company__title a{
    color: rgba(0,0,0,.54);
    text-decoration: none;
    padding: 0 15px;
}

.certification__wrapper-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.certification__wrapper-img a{
    display: block;
    background: url(/assets/img/certification-img.png);
    margin: 0 20px;
}

.certification__wrapper-img a:first-child,
.certification__wrapper-img a:nth-child(2n) {
    background-size: 551.6666666666666% 477.77777777777777%;
    background-position: 14.391143911439114% 99.41176470588235%;
    width: 120px;
    height: 45px;
}

.certification__wrapper-img a:last-child {
    background-size: 1379.1666666666667% 447.9166666666667%;
    background-position: 1.6286644951140066% 92.21556886227545%;
    width: 3rem;
    height: 3rem;
}

.company__name {
    font-size: 12px;
    margin: 8px 0 25px 0;
}

.company__info {
    font-size: 12px;
}

.company__info div {
    margin-top: 8px;
}



